.container
  .mt100
    = link_to "New Contact", new_contact_path, class: "btn btn-primary"

  %table.mt50
    %tr
      %th First Name
      %th Email
    - @contacts.each do |contact|
      %tr
        %td= contact.firstname
        %td= contact.lastname
