.wrapper.wrapper-content.animated.fadeInRight
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 Topic 1
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content.no-padding
        %ul.list-group
          %li.list-group-item
            %strong Paragraph 1
            %p
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %li.list-group-item
            %strong Paragraph 1
            %p
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %li.list-group-item
            %strong Paragraph 1
            %p
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %li.list-group-item
            %strong Paragraph 1
            %p
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %li.list-group-item
            %strong Paragraph 1
            %p
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %li.list-group-item
            %strong Paragraph 1
            %p
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .ibox-footer.text-center
        -# We should do dynamic pagination along with active page highlighting
        .btn-group
          = link_to topic_1_finance_pages_path, class: "btn btn-success finance-footer-button" do
            %i.fa.fa-chevron-left
            Previous
          = link_to topic_3_finance_pages_path, class: "btn btn-success finance-footer-button" do
            Next
            %i.fa.fa-chevron-right
